<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Clientes</title>
</head>
<body>
    <h1>Atualização do CLiente </h1>
    <form action="#" th:action="@{/update}" th:object="${cliente}" method="get">

        <input type="hidden" th:field="*{id}">

        <label> Nome </label>
        <input type="text" th:field="*{nome}">

        <label> Cpf </label>
        <input type="text" th:field="*{cpf}">

        <label> Endereço </label>
        <input type="text" th:field="*{endereco}">

        <label> Telefone </label>
        <input type="text" th:field="*{telefone}">

        <input type="submit" value="Atualizar!">
    </form>
    
</body>
</html>