<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Clientes</title>
</head>
<body>
    <table border="1" style="width: 500px;">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Endereço</th>
            <th>Telefone</th>
        </tr>
        <th:block th:each="clientes : ${clientes}">
            <tr>
                <td th:text="${clientes.id}">...</td>
                <td th:text="${clientes.nome}">...</td>
                <td th:text="${clientes.cpf}">...</td>
                <td th:text="${clientes.endereco}">...</td>
                <td th:text="${clientes.telefone}">...</td>
            </tr>
        </th:block>


    </table>
    <a href="/cliente/cadastro">Adicionar</a>
</body>
</html>